.card {
  padding: 2em;
  position: relative;
  width: 200px;
  border-radius: 8px;

  /* box-shadow: inset 0 1px 4px rgb(43, 44, 59); */
  border: 1px solid #1e2227;
  background: rgb(11, 14, 17);
  background: linear-gradient(
    30deg,
    rgba(11, 14, 17, 1) 0%,
    rgba(26, 33, 39, 1) 100%
  );
  transition: all 0.5s;
  &:hover {
    z-index: 1;
    transform: scale(1.05);
    background: rgb(55, 66, 250);
    background: linear-gradient(
      30deg,
      rgba(55, 66, 250, 0.19371498599439774) 0%,
      rgba(83, 82, 237, 1) 100%
    );
    p {
      color: #a8afb7;
    }
  }
  img {
    border-radius: 100%;
    outline: 3px solid #292f36;
  }

  h2 {
    color: #ced6e0;
  }
  p {
    color: #57606f;
  }
}
