#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}
body {
  background-color: #0b0e11;
}
h1 {
  margin-bottom: 12px;
}

.card-list {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 10px;
  flex-wrap: wrap;
}

main {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.legend-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  padding: 30px;
  flex-wrap: wrap;
}
legend {
  display: flex;
  padding: 5px;
  text-transform: uppercase;
  color: #4b5663;
  font-weight: 500;
  font-size: 12px;
}

fieldset {
  padding: 10px;
  border: 1px solid #292f36;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  flex-wrap: wrap;
  button {
    padding: 10px 14px;
    border: 1px solid #292f36;
    border-radius: 8px;
    min-width: 120px;
    font-size: 16px;

    &:hover {
      border: 1px solid #3742fa;
      color: white;
      transform: all 3000ms ease-in-out;
      background-color: #3741fa27;
    }
  }
}

.active {
  background-color: #2f3542;
  color: #747d8c;
}

.active-btn--highlight {
  background-color: #3742fa;
  color: white;
  border: 1px solid #3742fa;
}
h1 {
  color: #5352ed;
}
