@import url("https://fonts.googleapis.com/css2?family=Inter:wght@200;400&display=swap");

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  font-family: "Inter", sans-serif;
}
body {
  background-color: #0b0e11;
}
h1 {
  font-family: "Inter", sans-serif;
  font-weight: 400;
}

.card-list {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 1px;
  flex-wrap: wrap;
}

main {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.legend-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  padding: 30px;
  flex-wrap: wrap;
}
legend {
  display: flex;
  padding: 5px;
  text-transform: uppercase;
  color: #4b5663;
  font-weight: 500;
  font-size: 12px;
}

fieldset {
  padding: 10px;
  border: 1px solid #292f36;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  flex-wrap: wrap;
  background-color: #1e2227;
  box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.034),
    0 6.7px 5.3px rgba(0, 0, 0, 0.048), 0 12.5px 10px rgba(0, 0, 0, 0.06),
    0 22.3px 17.9px rgba(0, 0, 0, 0.072), 0 41.8px 33.4px rgba(0, 0, 0, 0.086),
    0 100px 80px rgba(0, 0, 0, 0.12);

  button {
    padding: 10px 14px;
    border: 1px solid #292f36;
    border-radius: 8px;
    min-width: 120px;
    font-size: 16px;
    &:hover {
      border: 1px solid #5352ed;
      color: white;
      transform: all 3000ms ease-in-out;
      background-color: #3741fa27;
    }
  }
}

.active {
  background-color: #2f3542;
  color: #747d8c;
}

.active-btn--highlight {
  background-color: #5352ed;
  color: white;
  border: 1px solid #5352ed;
}
h1 {
  color: #fbc531;
}
